In [14]:
import openmeteo_requests
import requests_cache
import pandas as pd
from retry_requests import retry

# Setup the Open-Meteo API client with cache and retry on error
cache_session = requests_cache.CachedSession('.cache', expire_after=3600)
retry_session = retry(cache_session, retries=5, backoff_factor=0.2)
openmeteo = openmeteo_requests.Client(session=retry_session)

def get_openmeteo_data(latitude, longitude, start_date, end_date, variables, timezone="GMT", model="gfs_seamless"):
    """
    Fetch and process weather data from the Open-Meteo API.

    Args:
        latitude (float): Latitude of the location.
        longitude (float): Longitude of the location.
        start_date (str): Start date in 'YYYY-MM-DD' format.
        end_date (str): End date in 'YYYY-MM-DD' format.
        variables (list): List of variables to fetch (e.g., 'temperature_2m_max', 'precipitation_sum').
        timezone (str): Timezone of the data (default: "GMT").
        model (str): Weather model to use (default: "gfs_seamless").

    Returns:
        pd.DataFrame: DataFrame containing requested variables and their values.
    """
    url = "https://api.open-meteo.com/v1/forecast"
    params = {
        "latitude": latitude,
        "longitude": longitude,
        "daily": variables,
        "timezone": timezone,
        "start_date": start_date,
        "end_date": end_date,
        "models": model
    }
    
    # Fetch data from the Open-Meteo API
    responses = openmeteo.weather_api(url, params=params)
    response = responses[0]  # Process the first response (can be extended for multiple locations)
    
    # Extract daily data
    daily = response.Daily()
    data = {}
    
    # Assign requested variables dynamically
    for i, variable in enumerate(variables):
        data[variable] = daily.Variables(i).ValuesAsNumpy()
    
    # Add date range
    data["date"] = pd.date_range(
        start=pd.to_datetime(daily.Time(), unit="s", utc=True),
        end=pd.to_datetime(daily.TimeEnd(), unit="s", utc=True),
        freq=pd.Timedelta(seconds=daily.Interval()),
        inclusive="left"
    )
    
    # Convert to DataFrame
    df = pd.DataFrame(data)
    return df

In [ ]:
# Example Usage
latitude = 36.721962
longitude = -119.236272
start_date = "2024-11-01"
end_date = "2024-11-30"
# Select only the variables you need
variables = ["temperature_2m_max", "temperature_2m_min","apparent_temperature_max", "apparent_temperature_min",]

In [21]:
weather_data = get_openmeteo_data(latitude, longitude, start_date, end_date, variables)
weather_data

,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,date
0,16.282499,6.182500,14.272223,3.501085,2024-11-01 00:00:00+00:00
1,15.982500,10.482500,13.559713,6.824161,2024-11-02 00:00:00+00:00
2,15.282500,6.482500,12.545670,3.156012,2024-11-03 00:00:00+00:00
3,17.632500,7.582500,15.233881,4.321394,2024-11-04 00:00:00+00:00
4,17.382500,8.632501,15.134789,6.130306,2024-11-05 00:00:00+00:00
5,17.532499,8.682500,14.906065,5.999491,2024-11-06 00:00:00+00:00
6,18.182499,7.882500,14.619677,4.620997,2024-11-07 00:00:00+00:00
7,19.332499,9.582500,16.086096,5.762269,2024-11-08 00:00:00+00:00
8,19.582499,9.232500,15.969000,5.764812,2024-11-09 00:00:00+00:00
9,20.332499,9.432500,17.299969,5.730744,2024-11-10 00:00:00+00:00
10,19.982500,10.482500,17.013214,7.079090,2024-11-11 00:00:00+00:00
11,11.432500,3.282500,9.346000,0.705453,2024-11-12 00:00:00+00:00
12,17.482500,4.082500,15.503410,0.910103,2024-11-13 00:00:00+00:00
13,16.132500,6.982500,13.749338,3.537925,2024-11-14 00:00:00+00:00
14,14.382501,5.532500,11.736235,3.572447,2024-11-15 00:00:00+00:00
15,10.832500,1.982500,8.315892,-1.478270,2024-11-16 00:00:00+00:00
16,12.782500,3.282500,9.838125,-0.165066,2024-11-17 00:00:00+00:00
17,12.182500,5.632500,9.431760,1.986880,2024-11-18 00:00:00+00:00
18,12.232500,1.632500,9.661200,-2.021607,2024-11-19 00:00:00+00:00
19,19.282499,8.632501,15.111794,4.842200,2024-11-20 00:00:00+00:00
20,21.532499,9.782500,17.547766,6.037771,2024-11-21 00:00:00+00:00
21,20.782499,11.032500,17.390827,6.980843,2024-11-22 00:00:00+00:00
22,19.132500,10.932500,16.277563,7.555779,2024-11-23 00:00:00+00:00
23,12.932500,7.882500,11.771734,5.372702,2024-11-24 00:00:00+00:00
24,12.732500,8.432500,10.963895,4.697266,2024-11-25 00:00:00+00:00
25,13.482500,10.782500,12.353426,8.232555,2024-11-26 00:00:00+00:00
26,11.782500,7.382500,10.693336,5.742527,2024-11-27 00:00:00+00:00
27,12.582500,4.432500,12.152754,1.632203,2024-11-28 00:00:00+00:00
28,11.282500,3.582500,10.988026,1.145544,2024-11-29 00:00:00+00:00
29,12.932500,4.382500,11.712433,1.114601,2024-11-30 00:00:00+00:00